body {
    background-image: url(../img/bg_compressed.jpg);
    background-size: cover;
    min-width: 370px;
}


h1, h2, h3, h4, h5, p, a, ul {
    color: #fafafa;
    font-family: "Manrope", sans-serif;
}

a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}

h2 {
    font-size: 36px;
    line-height: 1.1;
    font-weight: 300;
    margin: 0;
}

.hidden {
    display: none;
}

.m-hidden {
    display: none;
}

header {
    background-color: #1a1a1a4b;;
}

.header-nav-ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.header-nav-ul li {
    margin-bottom: 30px;
}

.header-nav-ul li:first-of-type {
    margin-top: 30px
}


/* header nav {
    display: none;
} */

.header-lang-cart {
    display: none;
}

#header-logo object {
    height: 60px;
}


.burger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#burger {
    padding: 15px;
}

.bold-heading {
    font-weight: 600;
}

/* .justify {
    text-align: justify;
} */
/* .welcome {
    width: 390px;
} */



.welcome {
    padding-top: 280px;
}




.welcome-text {
    font-size: 48px;
    line-height: 1.15;
    margin-top: 0;
    margin-bottom: 0;
}





.welcome-box {
    border: 1px solid #fafafa;
    border-radius: 30px;
    height: 33px;
    margin: auto 5px;
    background-image: url(../img/1-min.png);
    background-size: 100%;
    background-position: 60%;
}

#arrow-icon {
    margin: 120px auto 180px auto;
}

#descr-index p {
    padding-left: 40px;
    padding-right: 40px;
}

.p-grad {
    text-align: center;
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: .5px;
    font-weight: 300;
}


.star-center {
    margin: 95px auto 40px auto;
}

#made4u-box {
    border: 1px solid #fafafa;
    border-radius: 50px;
    padding: 0px 40px;
    margin: 60px auto 230px auto;
    transition: background-color .15s ease-out;
}

#made4u-box .p-grad {
    font-size: 26px;
}

#made4u-box:hover {
    background-color: #FF686D;
    transition: background-color .15s ease-out;
}

.star-small {
    height: 28px;
}

.ing-list {
    margin-top: 75px;
}

.ingredient {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C3C3C3;
    margin-top: 25px;
}

.ingredient:first-of-type {
    margin-top: 0;
}

.ingredient-text {
    font-size: 22px;
    margin-bottom: 14px;
    margin-top: 5px;
}

.amount {
    font-size: 14px;
    line-height: 1;
    margin: 0;
    color: #C3C3C3;
}


.title-sec {
    margin-top: 60px;
}

.text-small {
    font-size: 16px;
}

.title-sec .text-small {
    padding-right: 70px;
    color: #C3C3C3;
    margin-top: 35px;
    margin-bottom: 35px;
}

#peek, #craft {
    margin-top: 60px;
}

.card {
    display: flex;
    height: 225px;
    border-radius: 15px;
    padding: 25px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 15px;
    background-color: #FF686D;
}


.card-sour{
    background-color: #69C8FF;
}

.card-pineapple {
    background-color: #FFFC69;
}



.card-heading {
    font-size: 26px;
    margin-top: 40px;
    margin-bottom: 25px;
    font-weight: 400;
    color: #1a1a1a;
}

.card-text {
    margin: 0;
    font-weight: 300;
    color: #1a1a1a;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    border-radius: 50px;

}

.button-text {
    margin: 0;
    display: inline;
    margin-right: 20px;
}

.footer-list, .footer-contact {
    font-size: 20px;
    background-color: #2A2A2A;
    border-radius: 15px;
    padding: 20px 35px;
}

.footer-list li {
    margin-top: 20px;
}

.footer-list li:first-of-type {
    margin-top: 0;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials li {
    display: inline;
    margin: auto;
    padding: 0;
}

footer {
    background-color: #1a1a1a;
}

.footer-contact {
    height: 40px;
    display: flex;

    align-items: center;
}

.footer-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.footer-logo object{
    height: 80px;
}

.footer-logo p {
    color: #C3C3C3;
}









.main-title {
    font-size: 48px;
    font-weight: 500;
}

.main-title-sub {
    color: #C3C3C3;
}

.text-star object {
    height: 30px;
    margin-left: 10px;
}

#title {
    margin-top: 60px;
}

h3 {
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
}

.say-hello {
    margin-top: 30px;
    margin-left: 10px;
}

.contact-box-text {
    margin: 0;
}


form {
    padding: 10px;
}

input, textarea {
    background-color: #1a1a1a00;
    height: 45px;
    display: block;
    width: 100%;
    border: 0;
    margin-bottom: 20px;
    font-size: 16px;
    padding: 10px 20px;
    border-bottom: 1px solid #fafafa53;
    box-sizing: border-box;
    color: #fafafa;
    transition: border .2s ease-out;
}




textarea {
    resize: none;
    padding-top: 10px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid #fafafa;
    border-radius: 10px;
    transition: border .2s ease-out;
}

input:last-of-type {
    border: 1px solid #fafafa53;
    padding-left: 0;
    border-radius: 30px;
    color: #fafafa;
    margin-top: 50px;
    transition: background-color .3s ease-out;
    text-align: center;
}

input:last-of-type:hover {
    background-color: #fafafa;
    color: #1a1a1a;
    transition: background-color .3s ease-out;
}

.popup {
    position: fixed;
    top: 80%;
    left: 0;
    width: 100%;
    height: 50%;

}

.popup-text {
    z-index: 5000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
    display: flex;
    flex-direction: column;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #1a1a1a;
    color: white;
    z-index: -1;
}

#close-button {
    border: 0;
    background-color: #fafafa;
    padding: 20px 100px;
    font-size: 16px;
    border-radius: 30px;
    transition: all .2s ease-out;
}

#close-button:active {
    background-color: #1a1a1a;
    color: #fafafa;
    transition: all .2s ease-out;
}

#contact-info {
    margin-bottom: 100px;
    margin-top: 100px;
}

.contact-box {
    height: 195px;
    border: 1px solid #fafafa;
    border-radius: 15px;
    margin: 10px 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-box object {
    height: 30px;
    display: inline;
    width: 30px;
}

.socials-icons {
    display: flex;
    justify-content: space-between;
}

.hello-text {
    margin: 0;
    font-size: 20px;
    color: #C3C3C3;
}

.descriptor {
    font-size: 11px;
}

.card-tall {
    height: 470px;
    display: flex;
    justify-content: space-between;
}

.card-tall:first-of-type {
    margin-top: 50px;
}

.card-tall-img {
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
}

#card-mix-img {
    background-image: url(../img/can0003.png);
}

#card-sour-img {
    background-image: url(../img/can0001.png);
}

#card-pineapple-img {
    background-image: url(../img/can0002.png);
}

.card-tall-img object {
    height: 35px;
    fill: #1a1a1a;
}

.card-tall-star {
    width: 20px;
}

#products-cards {
    align-items: end;
}

#features {
    margin-top: 60px;
}

.features-prod {
    position: relative;
    background-image: url(../img/product_features.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.highlight {
    margin-bottom: 200px;
    height: 74px;
    width: 74px;
    background-color: #fafafa;
    border-radius: 50px;
    border: 3px solid #FF686D;
    mix-blend-mode: soft-light;
}

.highlight:nth-of-type(1) {
    position: absolute;
    top: 10%;
    left: 15%;
}

.highlight:nth-of-type(2) {
    position: absolute;
    right: 15%;
    top: 40%;
}

.highlight:nth-of-type(3) {
    position: absolute;
    top: 80%;
    left: 15%;
}

.features-card {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 15px;
    margin-bottom: 50px;
}

.feature-heading {
    margin: 0;
}

.feature-text {
    margin: 0;
    margin-top: 30px;
    font-weight: 400;
}


@media screen and (min-width: 700px) {
    .welcome-text {
        font-size: 48px
    }

    #made4u {
        margin-top: 150px;
    }

    #made4u-box {
        padding: 0px 40px;
        margin: 100px 100px 120px 0;
    }

    #ingredients {
        margin-top: 250px;
        align-items: center;
        margin-bottom: 250px;
    }

    .t-hidden {
        display: none;
    }

    .accent {
        text-align: left;
        font-size: 20px;
        line-height: 1.2;
        margin-top: 100px;
    }

    .card:first-of-type {
        margin-top: 140px;
    }

    .card-text {
        padding-right: 190px;
    }
    #products-cards .card-text {
        padding-right: 0;
    }

    input:last-of-type {
        width: 50%;
        margin: 50px auto 20px auto;
    }

    .highlight:nth-of-type(1) {
        left: 35%;
    }
    
    .highlight:nth-of-type(2) {
        right: 35%;
    }
    
    .highlight:nth-of-type(3) {
        left: 35%;
    }

}




@media screen and (min-width: 1200px) {

    .m-hidden {
        display: flex;
    }
    .l-hidden {
        display: none;
    }

    header nav {
        background-color: #2A2A2A;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65px;
    }

    .header-nav-ul {
        flex-direction: row;
    }

    .header-nav-ul li {
        margin: auto 25px;
        padding: 20px;
        border-radius: 50px;
    }
    
    .header-nav-ul li:first-of-type {
        margin-top: 0
    }

    .header-nav-ul li:hover, .header-lang-cart:hover {
        background-color: #fafafa72;
    }

    /* .header-lang-cart {
        display: block;
    } */

    .main-title {
        font-size: 80px;
    }

    .text-star object {
        height: 40px;
        margin-left: 50px;
    }

    .welcome-text {
        font-size: 80px;
    }
    #text-right {
        text-align: right;
    }
    .welcome-box {
        height: 57px;
    }

    .welcome-box:nth-last-of-type() {
        margin-right: 50px;
    }

    .accent {
        font-size: 26px;
    }

    #made4u {
        margin-top: 200px;
    }
    
    .card-text {
        padding-right: 250px;
    }

    
    
    

    .title-sec {
        align-items: center;
        margin-top: 250px;
    }

    .title-sec .text-small {
        padding-right: 0;
        text-align: right;
    }

    

    .underline {
        height: 1px;
        background-color: #C3C3C3;
        margin-bottom: 100px;
    }

    .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        margin-top: -10px;
    }

    

    .header-lang-cart {
        background-color: #2A2A2A;
        border-radius: 50px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input:last-of-type {
        width: 100%;
        margin-left: 0;
    }

    .highlight:nth-of-type(1) {
        left: 40%;
    }
    
    .highlight:nth-of-type(2) {
        right: 40%;
    }
    
    .highlight:nth-of-type(3) {
        left: 40%;
    }
}